.about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 40px;
    background: rgb(255, 255, 255);
}

.left-side {
    flex: 1;
    padding-right: 30px;
    
}

.left-side h2{
    font-family:monospace;
    
}

.left-side p{
    font-size: 19px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.right-side {
    flex: 1;
    padding-left: 30px;
}



.right-side img {
    width: 100%;
    height: auto;
}

.title {
    font-size: 28px;
    color: #000000;
    margin-bottom: 15px;
}

.text {
    color: #000000;
    line-height: 1.5;
}

.image {
    border-radius: 10px; /* Optional: Add rounded corners to the image */
}

