.club-header{
    
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgb(241, 200, 16),white)
}

.club-name {
    font-size: 34px; /* Adjust the font size as needed */
    font-family: fantasy;
    color: #0c0707; /* Set the text color to white */
    text-transform: uppercase; /* Convert text to uppercase (optional) */
}

.club-logo-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 15px;
}